.idea

/.minecraft/.mixin.out
/.minecraft/logs
/.minecraft/mods/*/
/.minecraft/resourcepacks
/.minecraft/saves
/.minecraft/tv-cache

/.minecraft/*.dat
!/.minecraft/servers.dat
/.minecraft/launcher_profiles.json

/.minecraft/versions/*/natives

/.minecraft/config/*
!/.minecraft/config/quark.cfg
